DATABASE_URL=https://db-seva.116.203.118.1.sslip.io
DATABASE_AUTH_TOKEN=
ADMIN_SESSION_SECRET=
ADMIN_EMAIL=dailmarin@gmail.com
ADMIN_PASSWORD=admin
NEXT_PUBLIC_SITE_URL=https://se-va.vercel.app
NEXT_PUBLIC_WHATSAPP_PHONE=5491133147770
